%h1 New message

= render 'form'

= link_to 'Back', messages_path

:javascript
  function displayPosition(position) {
    $("#message_latitude").val(position.coords.latitude);
    $("#message_longitude").val(position.coords.longitude);
  }

  function displayError(error) {
    var errors = {
      1: 'Permission denied',
      2: 'Position unavailable',
      3: 'Request timeout'
    };
    //console.log("Error: " + errors[error.code]);
  }

  if (navigator.geolocation) {
    var timeoutVal = 10 * 1000 * 1000;
    navigator.geolocation.getCurrentPosition(
      displayPosition,
      displayError,
      { enableHighAccuracy: true, timeout: timeoutVal, maximumAge: 0 }
    );
  }
