#send-message.send-message.merlin{:style => "display: block; "}
  .step.send-message-info{:style => "display: block; "}
    %h2 Your message will travel across Hadrian's Wall in the form of pulses of light.
    %p Prior to the event, we're collecting messages which will pre-populate the messaging system and be some of the first ones to be seen by the public.
    %p We've come up with some sentences about connection we'd love for you to fill out, or feel free to make the message your own.
    %p You can send any message you want, but we ask that you please think about making a message that you'd like to send across the country and for everyone of all ages to read and enjoy.
    .center
      %a.ca-button.alt.next
        =link_to "Send a Message", new_message_path
